*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #F55A5A;
    font-size: 30px;
    font-family: Arial;
}
.head i{
    margin-right: 10px;
}
.count{
    display: flex;
    padding: 20px 20px;
    column-gap: 60px;
}
.count .img img{
    width: 260px;
    height: 200px;
}
.count .img img:hover{
    transition: all .65s ease-in-out;
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
}
.count .detail .c1{
    margin-bottom: 15px;
    margin-top: 20px;
}
.count .detail .c1 i{
    margin-right: 10px;
    color: #F55A5A;
}
.count .detail .c1 a{
    margin-left: 10px;
    color: black;
}
.count .detail .country h2{
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 10px;
}
.count .detail .country h5{
    font-size: 18px;
    margin-bottom: 20px;
}
.count .detail .country p{
    font-family: Arial;
    font-size: 15px;
}
.last{
    padding: 20px;
    background-color: #F55A5A;
    color: black;
    text-align: center;
}